@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Open Sans',sans-serif;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    /* border: solid thin red; */
}

.header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/fondo1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed = mantiene fija la imagen */
    background-attachment: fixed; 
    background-position: center bottom;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #73E0F7;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 100px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase; /*mayusculas*/
    margin-bottom: 35px;
}

.header-content p{
    font-size: 20px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #3582B2;
    color: #F9FAFC;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: #78C2F1;
    color: #0926b5;
}

main{
    background-color: #141414;
}



/* ________________Servicio______________________ */
.subtitulo{
    padding-top: 20px;
    text-align: center;
    font-weight: 500;
    color: #71A8D9;
    margin-bottom: 30px;
    font-size: 80px;
}

.servicios{
    display: flex;
}

.servicio-container{
    width: 50%;
    padding: 100px 250px 100px 100px;
}

.servicio-imagen1{
    background-image: url(img/foto1_galeria.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.servicio-imagen2{
    background-image: url(img/foto2_galeria.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.servicio-imagen3{
    background-image: url(img/foto3_galeria.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 20px;
    color: #C5C5C5;
    margin: 25px 0 45px 0;
}


/* ________________Proyectos________________________ */
.proyectos{
    padding: 100px 0;
    text-align: center;
}

.proyectos-content{
    display: flex;
    justify-content: space-between;
}

.proyecto-1{
    padding: 15px 55px;
}

.proyecto-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.proyecto-1 h3{
    font-size: 25px;
    color: #F9FAFC;
}

/* ____________________Footer_______________________ */
footer{
    background-color: #000000;
    padding: 0 20px 0 20px;
}

.footer_contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contactos{
    width: 40%;
    color: #C5C5C5;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.redes{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.icono_redes{
    display: inline-block;
    margin-left: 50px;
    text-align: center;
    font-size: 50px;
    color: #C5C5C5;
}

.icono_redes:hover{
    color: #73E0F7;
}



/* __________________Responsive__________________ */
@media screen and (max-width:800px){
    .menu_nav{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor_servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist_servicio{
        width: 80%;
    }

    .serv{
        margin-bottom: 30px;
    }

    .agregar_imagen{
        width: 80%;
    }

    .footer_cont{
        justify-content: center;
    }

    .redes{
        width: 80%;
        justify-content: space-evenly;
    }

    .icono_redes{
        margin-left: 0;
    }

    .redes i{
        margin-left: 0;
    }

    .contactanos{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}